Package: com.hinduhustle.cleanmessages
Name: Clean Messages
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: HinduHustle
Author: HinduHustle
Section: Tweaks
